// font-family
$font-inter: 'Inter', sans-serif;

//weight
$weight-light: 400;
$weight-regular: 600;
$weight-bold: 700;

//colors
$primary: hsl(75, 94%, 57%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 20%);
$dark-grey: hsl(0, 0%, 12%);
$off-black: hsl(0, 0%, 8%);
